@font-face {
    font-family: 'NexaBold';
    src:  url('NexaBold.ttf.woff') format('woff'),
    url('NexaBold.ttf.svg#NexaBold') format('svg'),
    url('NexaBold.ttf.eot'),
    url('NexaBold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight';
    src:  url('NexaLight.ttf.woff') format('woff'),
    url('NexaLight.ttf.svg#NexaLight') format('svg'),
    url('NexaLight.ttf.eot'),
    url('NexaLight.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,.uk-card-title{
    font-family: 'NexaBold', sans-serif;
}

.uk-card-title{
    color: #000;
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_59767">Text with this font applied</p> */
body {
    font-family: 'NexaLight', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#topbar nav,#topbar .uk-navbar-nav> li > a, #topbar .uk-navbar-item{
    height: 60px;
    font-family: 'NexaLight', sans-serif;
}

#lowbar nav,#lowbar .uk-navbar-nav> li > a, #lowbar .uk-navbar-item{
    font-family: 'NexaBold', sans-serif;
    color: #000;
}

#lowbar .uk-navbar-nav >li.uk-active a{
    color: #bf4727;
}

.uk-logo img{
    height: 80%;
}

.uk-logo img.smaller{
    height: 40%;
    margin-left: 10px;
}

.uk-logo{
    font-size: 2.5rem;
    color: #ffffff;
}

.uk-navbar-item a img{
    height: 100%;
}
.uk-navbar-item a{
    height: 70%;
    transition: all .3s;
}
.uk-navbar-item a:hover{
    height: 75%;
}

#topbar{
    background: #d10000;
    /*background: #d10000 linear-gradient(to right,#bf4727, #ee2a28);*/
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: transparent;
}
.uk-sticky-fixed{
    box-shadow: 0 0 20px #8080804d;
}


.uk-input{
    box-shadow: -2px 3px 20px 0px #808080a3;
    border: solid 0;
    border-radius: 25px;
    font-family: 'NexaLight', sans-serif;
}
.uk-input:focus + span{
    color: rgba(128, 48, 27, 0.74);
}

#lowbar{
    background-color: #e5e5e5;
}

#lowbar .uk-input{
    width: 500px;
}
#content{
    min-height: calc((100vh) - 140px);
    width: 100%;
    background: url(../img/hmgBG.png) no-repeat center bottom;
    background-size: cover;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    outline: none;
    background-color: #fff;
    color: #666;
    border: solid 0;
    box-shadow: -2px 3px 20px -10px rgba(128, 48, 27, 0.74);
}
.uk-card-default {
    box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.6);
    /*border-radius: 5px;*/
}
.button-def{
    border-radius: 25px;
    padding: 0!important;
    background: #fff409;
    font-family: 'NexaLight', sans-serif;
    font-size: 1.3rem;
    transition: background-color .4s, color .4s;
}

.button-def:hover{
    background-color: #d10000;
    color: #ffffff;
}

#content .uk-card-title{
    color: #128200;
    font-size: 1.2rem;
    text-align: center;
}

@media (min-width: 1024px) {
    .uk-navbar-container , .uk-container{
        width: 100%;
        max-width: 1366px;
        padding: 0 32px;
        box-sizing: border-box;
        margin: auto;
    }
}